body {
	font-family: "Raleway", sans-serif;
	color: #747704;
	font-weight: 300;
}

.page-title {
	display:flex
}

img, 
embed,
object, 
video {
	max-width: 100%;
}
/* ensure the width not wider than devices */


@media screen and (max-width: 500px) {
	body {background-color: #f8e0e0;}
}

@media screen and (min-width: 700px) {
    body {background-color: #effbfb;}
}

.text-muted {
	color: #bcbbbb;
}

.text-muted2 {
	color: #bcbbbb;
	text-align: center;
}

.text-thin {
	font-weight: 100;
}

.title-supper {
	text-align: right;
	font-size: 60px;

}

.title-normal {
	text-align: right;
}

.title-logo {
	margin: 20px;
	height: 100px;
	width: 100px;
}

.img-responsive2 {
	height: 300px;
	width: 300px;
}

.headline {
	display: inline-flex;
}

.feature_work {
	text-align: center;
	margin: auto;
	align: center;
	flex-wrap: wrap;
}

.img-responsive2 {
	display: flex;
	margin: auto;
}
